{%load static from staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martialart</title>
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
<div class="wrapper">
     {%if user.is_authenticated%}
    <h2><a href="{% url 'home'%}"><img src="{% static 'logo.png' %}"/></a></h2>
     {%else%}
    <h2><a href="{% url 'index'%}"><img src="{% static 'logo.png' %}"/></a></h2>

     {%endif%}

    <nav>
        <ul>
            {%if user.is_authenticated%}
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout'%}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>

                    </form>
                </li>
            <li><a href="{% url 'tutorials:list'%}">Articles List<a/></li>
            <li><a href="{% url 'videos:list'%}">Video Tutorials</a></li>
            <li><a href="{% url 'about' %}">About</a>
             <li><a href="{% url 'contact'%}">Contact</a> </li>
            {%else%}
            <li><a href="{% url 'accounts:login' %}">Login</a>
             <li><a href="{% url 'accounts:signup'%}">Signup</a> </li>
            {%endif%}
        </ul>
    </nav>
    {%block content%}
    {%endblock%}
</div>
</body>
</html>