{% extends "global.html" %}

{% block content %}
<h1>welcome to the homepage</h1>
<p> Martial arts are codified systems and traditions of combat practiced for a number of reasons such as self-defense, military and law enforcement applications, physical, mental and spiritual development; as well as entertainment and the preservation of a nation's intangible cultural heritage.

Although the term martial art has become associated with the fighting arts of East Asia, it originally referred to the combat systems of Europe as early as the 1550s. The term is derived from Latin and means "arts of Mars", the Roman god of war. Some authors have argued that fighting arts or fighting systems would be more appropriate on the basis that many martial arts were never "martial" in the sense of being used or created by professional warriors</p>
<h2>History of Martial art</h2>
<p> The oldest works of art depicting scenes of battle are cave paintings from eastern Spain (Spanish Levant) dated between 10,000 and 6,000 BCE that show organized groups fighting with bows and arrows.

Chinese martial arts originated during the legendary, possibly apocryphal, Xia Dynasty more than 4000 years ago. It is said the Yellow Emperor Huangdi (legendary date of ascension 2698 BC) introduced the earliest fighting systems to China. The Yellow Emperor is described as a famous general who before becoming China's leader, wrote lengthy treatises on medicine, astrology and martial arts. One of his main opponents was Chi You who was credited as the creator of jiao di, a forerunner to the modern art of Chinese wrestling.

The foundation of modern Asian martial arts is likely a blend of early Chinese and Indian martial arts. During the Warring States period of Chinese history (480-221 BC) extensive development in martial philosophy and strategy emerged, as described by Sun Tzu in The Art of War (c. 350 BC).Legendary accounts link the origin of Shaolinquan to the spread of Buddhism from ancient India during the early 5th century AD, with the figure of Bodhidharma, to China.[8] Written evidence of martial arts in Southern India dates back to the Sangam literature of about the 2nd century BC to the 2nd century AD.The combat techniques of the Sangam period were the earliest precursors to Kalaripayattu.</p>
{% endblock %}
