{%load static from staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>tutorial</title>
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
<div class="wrapper">
    <h2><a href="{% url 'index'%}"><img src="{% static 'logo.png' %}"/></a></h2>
    <nav>
        <ul>
            {%if user.is_authenticated%}
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout'%}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>

                    </form>
                </li>
            <li><a href="{% url 'tutorials:list'%}">Articles List<a/></li>
            <li><a href="{% url 'videos:list'%}">Video Tutorials</a></li>
            <li><a href="{% url 'about' %}">About</a>
             <li><a href="{% url 'contact'%}">Contact</a> </li>
            {%else%}
            <li><a href="{% url 'accounts:login' %}">Login</a>
             <li><a href="{% url 'accounts:signup'%}">Signup</a> </li>
            {%endif%}
        </ul>
    </nav>
</div>
<div class="videos">
    <div class="video">
        <video id="intro" type="video/mp4" controls preload autoplay>
            <source src="{{ video.upload.url }}" type="video/mp4"></source>
        </video>
        <h2>{{video.title}}</h2>
        <p>{{video.description}}</p>
        <p>{{video.date}}</p>

    </div>
</div>
</body>
</html>


